body{
    text-align: center;
    padding: 2rem;
    min-height: 100vh;
     background: linear-gradient(180deg, rgb(246, 181, 84)
     0%, #ffffff 98%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.imagem{
    width: 950px;
    
}


#adocao-animais {
    max-width: 900px;
    margin: 40px auto;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    animation: fadeIn 0.7s ease-in-out;
}

header {
    background-color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 1.8em;
    font-weight: bold;
    color: #333; 
}

.logo span {
    color: #f4953d; 
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #FFA500; 
}


.btn-laranja {
    background-color: #FFA500;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}